@charset "utf-8";

/* Music from #Uppbeat (free for Creators!):
https://uppbeat.io/t/color-parade/pixel-playground */s

* {
  font-family: "Jersey+15", sans-serif;
}

body {
    background-color: #18191A;
    color: #fff;
}

.container {
    width: min(100% - 40px, 1080px);
    margin-inline: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.game-container {
    width: 450px;
    height: 550px;
    border: 2px solid rgb(55, 255, 0);
}

.flex {
    display: flex;
}

.centered {
    flex-direction: column; 
    align-items: center; 
}

.rounded {
    border-radius: 8px;
}

/* - - - - - - - - - - - - - - - - - */
/* -Top Row (Title and start button)-*/
/* - - - - - - - - - - - - - - - - - */

.top-row {
    border: 2px solid rgb(0, 242, 255);
    height: 70px;
    justify-content: space-between;
    gap: 250px;
    align-items: center;
}
  
.title {
  border: 2px solid rgb(238, 142, 216);
}
  
.start-restart {
  border: 2px solid rgb(209, 133, 228);
}

 /* - - - - - - - - - - - - - - - - - */
 /* - - - - - -Stopwatch - - - - - - -*/
 /* - - - - - - - - - - - - - - - - - */
  
.clock-area {
  margin-top: 20px;
  border: 2px solid red;
  height: 100px;
}
  
.fa-solid.fa-stopwatch {
  border: 2px solid rgb(255, 157, 0);
}
  
.countdown {
  margin-top: 10px;
  border: 2px solid rgb(0, 68, 255);
  font-size: 2.5rem;
}

/* - - - - - - - - - - - - - - - - - */
/* - - - Current Word Display - - - -*/
/* - - - - - - - - - - - - - - - - - */
  
.word-display {
  border: 2px solid rgb(197, 133, 172);
  height: 140px;
  width: 400px;
}
  
.current-word {
  border: 2px solid rgb(121, 183, 119);
  user-select: none; 
}
  
.hit-counter {
  margin-top: 20px;
  border: 2px solid rgb(229, 151, 233);
  height: 70px;
}
  
.correct {
  color: rgb(56, 196, 56);
}
  /* - - - - - - - - - - - - - - - - - */
  /* - - - - - -User Input- - - - - - -*/
  /* - - - - - - - - - - - - - - - - - */
  
  form {
    border: 2px solid rgb(0, 208, 255);
    height: 70px;
    width: 400px;
  }
  
  .user-input {
    border: 2px solid rgb(251, 255, 0);
    width: 400px;
    height: 70px;
    text-align: center;
  }
  
  /* - - - - - - - - - - - - - - - - - */
  /* - - - - - - Copywrite -- - - - - -*/
  /* - - - - - - - - - - - - - - - - - */
  
  .copywrite {
    margin-top: 10px;
    height: 70px;
  }